/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 700px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}
.parallax-shadowed {
  background-color: black;
}
.parallax-shadowed img {
  opacity: 0.4;
}

#servicios .row {
  height: 160px;
  padding: 6px;
}
.service-box {
  height: 160px;
  background: rgba(99,99,99,.38);
  padding: 6px;
  display: flex;
}

.service-icon {
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-text {
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-text h3 {
  font-size: 22px;
  margin: 4px 0;
  font-weight: 200;;
}

.service-text p {
  font-size: 16px;
  margin: 0;
  font-weight: 100;;
  line-height: 1.7rem;
}

.testimonio-box {
  padding: 10px;  
}
.testimonio-text {
  font-style: italic;
  font-size: 1.4em;
  color: #808080;
  font-weight: 300;
}
.testimonio-client {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.tc-img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.tc-name {
  width: 150px;
}
.tc-name .name {
  color: #808080;
  line-height: 30px;
  margin: 0px;
  font-size: 1.2em;
  display: inline-block;
  font-weight: 300;
}
.tc-name .job {
  color: #ababab;
  line-height: 15px;
  margin: 0px;
  font-weight: 100;
  font-size: 0.9em;
  display: inline-block;
}

#testimonios .title h3 {
  color: #808080;
  margin: 30px 0 0 0;
  font-size: 2.2em;
  display: inline-block;
  font-weight: 300;
  border-bottom: 1px solid #b4d4d1;
}
#testimonios .title p {
  color: #ababab;
  margin: 15px 0 0 0;
  font-weight: 200;
  font-size: 1.2em;
  display: inline-block;
  line-height: 1.8rem;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    /*top: 40%;*/
  }
  #index-banner .section {
    top: 10%;
  }
  .testimonio-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }
  .testimonio-text {
    margin-right: 15px;
  }
  .tc-img {
    margin-right: 10px
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .testimonio-box {
    display: flex;
    flex-direction: column;
  }
  .testimonio-text {
    font-style: italic;
    font-size: 1.4em;
    color: #808080;
    font-weight: 300;
  }
  .testimonio-img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
